@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    font-family:'lato', sans-serif ;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6 {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}
h1 {
    font-size: 36px;
    margin-bottom: 28px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
    position: relative;
}

.link_hover-effect::after {
content: "";
position: absolute;
height: 3px;
background-color: black;
width: 0;
bottom: -3px;
right: 0;
transition: all 300ms ease;
}

.link_hover-effect-white:after {
    background-color: white;
}

.link_hover-effect:hover:after {
    width: 100%;
    left: 0;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

.flex_1 {
    flex: 1;
}

section:nth-child(odd) {
    background-color: #f8f8f8f8;
}

/* Navigation Bar*/

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.nav_link_list {
    display: flex;
}

.nav_link_anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}

.nav_link_anchor_primary {
    background-color: #6030b1 ;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease
    ;
}

.nav_link_anchor_primary:hover {
    background-color: #5d3eff;
}

.personal_logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font: bold;
}

.text_purple {
    color: purple;
}

/* about me */

#about_me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about_me_info {
    display: flex;
    flex-direction: column;
}

.about_me_info_container {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
 
 .about_me_picture_mask {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     overflow: hidden;
     box-shadow: 0 8px 16px;
     margin-bottom: 28px;
     animation: animate-profile-pic 800ms 200ms backwards;
 }

 @keyframes animate-profile-pic {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
 }

 .about_me_info_title {
    margin-bottom: 16px ;
    animation: fade-up 650ms 400ms backwards;
 }
 
 .about_me_info_para {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 28px;
    animation: fade-up 650ms 600ms backwards;
 }

 .about_me_pic {
    width: 100%;
    transform: scale(1.2);
    padding-top: 9px;
    
 }

 .about_me-link {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 0 16px;
    animation: fade-up 650ms 400ms backwards;
 }
 .about_me-links {
    animation: fade-up 650ms 800ms backwards;
 }

 @keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
 }

 .about_me_img-container {
flex: 1;
display: flex;
align-items: center;
 }

 .about_me-img {
    width: 100%;
    margin-top: 100px;
    animation: fade-in 1200ms 800ms;
 }

 .wave {
    display: inline-block;
animation: animate-wave 500ms infinite;
 }

 @keyframes animate-wave {
    0% {
        transform: rotate(0);
         }
    50% {
        transform: rotate(30deg);
         }
    100% {
        transform: rotate(0);
    }
 }

 @keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
 }
/* TECH-STACK */

.language_img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}

.language:hover .language_img {
    filter: brightness(80%);
    opacity: .86;
    transform: scale(1.1);
}

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language_img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language_list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.language_name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms ease;
    font-weight: bold;
}

.language:hover .language_name {
    transform: scale(1);
}

/* Projects */

.project {
    margin-bottom: 135px;
}

.project_img {
    width: 100%;
    transition: all 500ms ease;
}

.project:last-child {
    margin-bottom: 20px;
}

.project_wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0, 0, .45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.project_wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
}

.project:hover .project_wrapper:before {
opacity: .7;
}

.project:hover .project_img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project:hover .project_description {
    opacity: 1;
    transform: translateY(-50%);
}

.project_list {
    padding-top: 40px;
}

.project_description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project_desription-title {
    font-size: 40px;
}

.project_desription-para {
    margin: 16px 0;
}

.project_description-link {
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;
}

.project_desription-title,
.project_description-sub-title,
.project_desription-para,
.project_description-link {
    text-align: left;
    color: #fff;
}

/* FOOTER */

footer {
    background-color: #242424;
}

.footer_logo-img {
    width: 70px;
    height: 70px;
}
 
.footer_row {
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_social-link ,
.footer_copyright ,
.footer_logo-popper {
    color: white;
}

.footer_social-list{ 
    margin-bottom: 28px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
}
.footer_logo-popper {
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}

.footer_anchor {
    position: relative;
    margin-bottom: 20px;
}

.footer_anchor:hover .footer_logo-popper {
transform: translateX(60px);
opacity: 1;
}

@media (max-width: 768px) {
    nav {
        height: 68px;
    }
    h1{
        font-size: 28px;
    }

    .about_me_info_para {
        font-size: 18px;
    }
    .language {
        width: calc(100%/2);

    }
}